# Flutter/Dart
.dart_tool/
.packages
pubspec.lock
build/
generated_plugin_registrant.dart

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies

# Dependency directories
.melos_tool/

# Dart2JS
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Analyzed file
analysis_options.yaml

# dotenv environment files
.env*
*.env

# IntelliJ IDEA / Android Studio
*.iml
.idea/
.gradle/
local.properties

# VS Code
.vscode/
.history/

# macOS
.DS_Store

# Windows
Thumbs.db

# Linux
*~

# iOS / macOS builds
Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/.symlinks/
ios/Pods/
ios/build/
macos/Pods/
macos/build/

# Android builds
android/.gradle/
android/.idea/
android/local.properties
android/build/
android/app/build/

# Documentation
doc/api/